# 填写你的模型供应商 API Key
LLM_API_KEY=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
# 默认使用的模型（例如 ModelScope 提供的通义千问）
LLM_MODEL_ID=google/gemini-3.1-flash-lite-preview

# 接口 Base URL
LLM_BASE_URL=https://openrouter.ai/api/v1

# 超时时间
LLM_TIMEOUT=60